@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   font-family: "poppins";
}

.container {
   perspective: 1000px; /* Creates the 3D space for the child element */
}

.rotated-div {
   width: 300px;
   height: 300px;
   background-color: #3498db; /* Blue background */
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   font-family: Arial, sans-serif;
   text-align: center;

   /* Add 3D effect */
   transform: rotateX(60deg) translateZ(100px);
   transform-style: preserve-3d; /* Ensure child elements are transformed in 3D space */
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Optional shadow for better depth effect */
}
@layer base {
   /* :root {
      --background: 213 61% 100%;
      --foreground: 213 56% 3%;
      --muted: 33 10% 94%;
      --muted-foreground: 33 9% 33%;
      --popover: 213 61% 100%;
      --popover-foreground: 213 56% 3%;
      --card: 213 61% 100%;
      --card-foreground: 213 56% 3%;
      --border: 213 7% 90%;
      --input: 213 7% 90%;
      --primary: 213 95% 55%;
      --primary-foreground: 0 0% 100%;
      --secondary: 33 95% 55%;
      --secondary-foreground: 0 0% 0%;
      --accent: 33 95% 55%;
      --accent-foreground: 0 0% 0%;
      --destructive: 12 100% 40%;
      --destructive-foreground: 0 0% 100%;
      --ring: 213 95% 55%;
      --radius: 0.5rem;
    } */

   :root {
      --background: 134 30% 1%;
      --foreground: 134 39% 100%;
      --muted: 254 32% 7%;
      --muted-foreground: 254 10% 71%;
      --popover: 134 30% 1%;
      --popover-foreground: 134 39% 100%;
      --card: 134 30% 1%;
      --card-foreground: 134 39% 100%;
      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --primary: 134 72% 52%;
      --primary-foreground: 134 72% 12%;
      --secondary: 254 72% 52%;
      --secondary-foreground: 0 0% 100%;
      --accent: 120 40.31% 44.41%;
      --accent-foreground: 0 0% 0%;
      --destructive: 18 86% 46%;
      --destructive-foreground: 0 0% 100%;
      --ring: 134 72% 52%;
      --radius: 0.3rem;
   }
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
      font-feature-settings:
         "rlig" 1,
         "calt" 1;
   }
}
